@import url(https://fonts.googleapis.com/css?family=Ubuntu);

* {
box-sizing: border-box;

}
body {
    font-family: 'Ubuntu' ,  sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg {
    background: url(https://im.indiatimes.in/content/2020/Feb/Earth-BIg-1_5e50d986ae8bb.jpg?w=2184&h=1116&cc=1) no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}
.loading-text {
    font-size: 50px;
    color: white;

}
